body{
  margin: 0;
  font-family: sans-serif;
}

.hero{
  height: 444px;
  position: relative;
  overflow: hidden;
}
header, .hero section{
  position: relative;
  z-index:4;
  padding: 55px 20% 0;

}
header{
  color: white;
  text-align: right
}
.hero section{
  color: white;
  font-size: 77px;
  font-weight: lighter;
  text-align: center;
}
.hero img{
  position: absolute;
  z-index:1;
  width: 100%;
  transition: all 2s;
  opacity: 1;
  min-height: 100%;
}
.hero img.first {
  z-index:3;
}
.hero img.next {
  z-index:2
}
.hero img.active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0;
  z-index:3
}
section{
  height: 44px;
}
footer{
  height: 44px;
  background-color: #999;

}
