body{
  margin: 0
}


header{
  height: 44px;
  background-color: #999;
}
.hero{
  height: 444px;
  position: relative;
  overflow: hidden;
}
.hero img{
  position: absolute;
  z-index:1;
  width: 100%;
  transition: all 2s;
  opacity: 1;
}
.hero img.first {
  z-index:3;
}
.hero img.next {
  z-index:2
}
.hero img.active {
  transform: scale(1.1);
  opacity: 0;
  z-index:3
}
section{
  height: 44px;
}
footer{
  height: 44px;
  background-color: #999;

}
